{{- if .Values.machineclass.enable }}
---
kind: Secret
apiVersion: v1
metadata:
  name: ossec-{{ .Values.machinedeployment.name }}
  namespace: machine-controller-manager
stringData:
  authURL: {{ .Values.machineclass.authURL }}
  domainName: {{ .Values.machineclass.domainName }}
  username: {{ .Values.machineclass.username }}
  password: {{ .Values.machineclass.password }}
  tenantName: {{ .Values.machineclass.tenantName }}
  userData: | {{ .Values.machineclass.userData | nindent 4 }}
type: Opaque
{{- end }}